html {
  min-height: 100vh;
}

a {
  font-family: 'Roboto Mono', monospace;
  font-size: 37px;
  text-decoration: none;
  margin-left: 35px;
}

a:hover {
  color: #f0f;
}

span {
  visibility: hidden;
  display: inline-block;
  width: 0;
}
